.search-location * {
  box-sizing: content-box;
}

.search-location {
  z-index: 999;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 400px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd;
  box-sizing: content-box;
}

.search-bar {
  display: flex;
  gap: 15px;
  align-items: center;
  border-bottom: 1px solid #ddd;
  border-radius: 20px;
  padding: 5px 20px;
  background-color: white;
}

.search-bar-focused {
  border-radius: 20px 20px 0 0;
}

.search-bar input {
  width: 100%;
  flex: 1;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 10px 10px;
}

.search-bar svg {
  cursor: pointer;
  font-size: 20px;
  color: #000;
  padding-inline: 4px;
}

.search-bar .fa-times {
  margin-right: 10px;
}

.search-results {
  padding-block: 5px;
  background: white;
  border-top: none;
}

.result-item {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  font-size: 20px;
  justify-content: space-between;
  cursor: pointer;
}

.result-item svg {
  font-size: 18px;
  color: #888;
  padding: 10px;
  border-radius: 50%;
}

.result-item svg:hover {
  background-color: #ddd;
}

.result-item:hover {
  background: #f0f0f0;
  scale: 1.01;
}

.result-label-name {
  display: flex;
  align-items: center;
  gap: 20px;
}

.result-item button {
  background: none;
  border: none;
  cursor: pointer;
  color: red;
  font-size: 12px;
}

.result-icon {
  display: flex;
  align-items: center;
  width: 20px;
}
.result-icon img {
  width: 100%;
  /* height: 100%; */
}
