.map-container {
  height: 100vh;
  width: 100vw;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  bottom: 1rem;
  right: 0;
  margin: 12px;
  border-radius: 4px;
}

.mapboxgl-ctrl-geocoder input[type="text"] {
  padding: 0 0 0 40px !important;
}

body {
  font-family: sans-serif;
}
textarea {
  width: 90%;
}
button {
  font-weight: bold;
  padding: 0.5em 1em;
  font-size: 2em;
}
.pill {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 24px;
  border-radius: 10px/50%;
  overflow: hidden;
  word-spacing: -0.15em;
  white-space: nowrap;
  border: 1px solid #fff;
}
.pill.mini {
  line-height: 0;
}
.pill,
.pill span {
  display: inline-block;
  color: #fff;
}
.pill span {
  padding: 0.3em;
  line-height: 1;
}
.pill span:first-child {
  padding-left: 0.4em;
}
.pill span:last-child {
  padding-right: 0.4em;
}
.pill .red {
  background-color: #d42e12;
}
.pill .green {
  background-color: #009645;
}
.pill .yellow {
  background-color: #fa9e0d;
  color: #000;
}
.pill .brown {
  background-color: #9d5b25;
}
.pill .purple {
  background-color: #9900aa;
}
.pill .blue {
  background-color: #005ec4;
}
.pill .gray {
  background-color: #748477;
}
.marker-testing {
  padding: 0.7px 12px !important;
  border-radius: 5px !important;
  height: 14px !important;
}
